$assets_folder_path: '/assets';
$kneo-header-size: 0px;
$ads-menu-width: 100px;

// Z-indexes
$ads-menu-z-index: 970;
$ah-loader-z-index: 980;
$ads-sticky-list-header-z-index: 960;
$ads-content-default-padding: 80px 5%;
