//background and color for each map zone
$east-central-usa-1: rgb(247, 233, 243);
$east-central-usa-2: rgb(120, 10, 104);
$east-central-usa-3: rgb(194, 86, 178);
$canada-alaska-1: rgb(230, 247, 249);
$canada-alaska-2: rgb(6, 136, 155);
$canada-alaska-3: rgb(6, 136, 155);
$europe-1: rgb(205, 229, 243);
$europe-2: rgb(51, 119, 159);
$europe-3: rgb(51, 119, 159);
$west-central-usa-1: rgb(231, 248, 255);
$west-central-usa-2: rgb(51, 86, 234);
$west-central-usa-3: rgb(51, 86, 234);
$latin-south-america-1: rgb(254, 248, 230);
$latin-south-america-2: rgb(193, 147, 6);
$latin-south-america-3: rgb(230, 179, 22);
$eurasia-1: rgb(255, 238, 223);
$eurasia-2: rgb(255, 146, 51);
$eurasia-3: rgb(255, 146, 51);
$pacific-1-2-1: rgba(210, 122, 81, 0.17);
$pacific-1-2-2: rgb(212, 126, 89);
$pacific-1-2-3: rgb(213, 129, 93);
$africa-1: rgb(231, 248, 255);
$africa-2: rgb(51, 203, 234);
$africa-3: rgb(54, 191, 232);
$worldwide-1: rgb(255, 240, 240);
$worldwide-2: rgb(233, 51, 85);
$worldwide-3: rgb(162, 32, 32);
