$p-blue-1: rgb(229, 234, 242);
$p-blue-2: rgb(165, 192, 242);
$p-blue-3: rgb(111, 155, 237);
$p-blue-4: rgb(69, 125, 229);
$p-blue-5: rgb(37, 95, 204);
$p-blue-6: rgb(6, 59, 158);
$p-blue-7: rgb(0, 45, 128);
$p-blue-8: rgb(0, 36, 102);
$p-blue-9: rgb(0, 32, 91);
$p-blue-10: rgb(0, 27, 77);

$s-blue-1: rgb(230, 239, 245);
$s-blue-2: rgb(163, 212, 240);
$s-blue-3: rgb(108, 191, 240);
$s-blue-4: rgb(46, 159, 224);
$s-blue-5: rgb(11, 120, 184);
$s-blue-6: rgb(0, 85, 135);
$s-blue-7: rgb(0, 68, 108);
$s-blue-8: rgb(0, 51, 81);
$s-blue-9: rgb(0, 34, 54);
$s-blue-10: rgb(0, 17, 27);

$green-1: rgb(8, 135, 91);
$green-2: rgb(9, 115, 80);
$green-3: rgb(7, 89, 62);

$yellow-1: rgb(251, 202, 50);
$yellow-2: rgb(250, 189, 0);
$yellow-3: rgb(214, 161, 0);

$red-1: rgb(228, 0, 43);
$red-2: rgb(182, 0, 34);
$red-3: rgb(136, 0, 25);

$c-grey-1: rgb(239, 241, 244);
$c-grey-2: rgb(224, 227, 233);
$c-grey-3: rgb(193, 199, 211);
$c-grey-4: rgb(162, 172, 189);
$c-grey-5: rgb(131, 144, 167);
$c-grey-6: rgb(100, 117, 146);
$c-grey-7: rgb(80, 93, 116);
$c-grey-8: rgb(60, 70, 87);
$c-grey-9: rgb(40, 46, 58);
$c-grey-10: rgb(20, 23, 29);

$w-grey-1: rgb(247, 249, 250);
$w-grey-2: rgb(240, 244, 246);
$w-grey-3: rgb(226, 233, 237);
$w-grey-4: rgb(211, 222, 228);
$w-grey-5: rgb(197, 211, 219);
$w-grey-6: rgb(183, 201, 211);
$w-grey-7: rgb(146, 160, 168);
$w-grey-8: rgb(109, 120, 126);
$w-grey-9: rgb(73, 80, 84);
$w-grey-10: rgb(36, 40, 42);

$grey-1: rgb(114, 116, 118);
$grey-2: rgb(236, 240, 248);
$grey-3: rgb(201, 209, 224);
$grey-4: rgb(51, 52, 53);
$grey-5: rgb(34, 34, 35);
$grey-6: rgb(151, 151, 151);
$grey-7: rgb(160, 180, 218);
$grey-8: rgba(166, 169, 179, 0.26);
$grey-9: rgb(223, 225, 229);
$grey-10: rgb(76, 80, 84);
$grey-11: rgba(97, 117, 148, 0.7);

$blue-1: rgb(0, 133, 173);
$blue-2: rgb(157, 182, 230);
$blue-3: rgb(51, 203, 234);

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
